body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4795px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4768px;
  height:1531px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:203px;
  width:4768px;
  height:1531px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
