body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1135px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:347px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4093 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:325px;
  width:360px;
  height:347px;
}
#u4093_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u4096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u4096_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:663px;
}
#u4097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:101px;
  width:30px;
  height:663px;
}
#u4097_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:663px;
}
#u4098 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:101px;
  width:26px;
  height:663px;
}
#u4098_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:102px;
}
#u4099 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:764px;
  width:430px;
  height:102px;
}
#u4099_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:664px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4100 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:101px;
  width:379px;
  height:664px;
}
#u4100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4101 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:119px;
  width:97px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4102 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:165px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4103 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:234px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4104 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:266px;
  width:257px;
  height:33px;
}
#u4104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4105 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:266px;
  width:43px;
  height:33px;
}
#u4105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4105_input:disabled {
  color:grayText;
}
#u4106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
}
#u4106 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:475px;
  width:300px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u4106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u4107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:73px;
}
#u4107 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:608px;
  width:83px;
  height:73px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:79px;
  word-wrap:break-word;
}
#u4108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:73px;
}
#u4108 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:608px;
  width:83px;
  height:73px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:79px;
  word-wrap:break-word;
}
#u4109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:73px;
}
#u4109 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:608px;
  width:83px;
  height:73px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:79px;
  word-wrap:break-word;
}
#u4110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4110 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:309px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4111 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:341px;
  width:300px;
  height:33px;
}
#u4111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4112 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:542px;
  width:59px;
  height:18px;
  color:#FFFFFF;
}
#u4112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4113 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:700px;
  width:260px;
  height:18px;
  color:#FFFFFF;
}
#u4113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u4114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4115 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:390px;
  width:108px;
  height:32px;
  color:#FFFFFF;
}
#u4115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u4116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4116 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:391px;
  width:61px;
  height:32px;
}
#u4116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4117 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:432px;
  width:297px;
  height:28px;
}
#u4117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u4118 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:135px;
  width:46px;
  height:50px;
}
#u4118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4119 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:160px;
  width:0px;
  height:0px;
}
#u4119_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:163px;
  height:8px;
}
#u4119_seg1 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:-4px;
  width:8px;
  height:8px;
}
#u4119_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:88px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4120 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:114px;
  width:148px;
  height:88px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:144px;
  word-wrap:break-word;
}
#u4121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:74px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4121 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:246px;
  width:148px;
  height:74px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:144px;
  word-wrap:break-word;
}
#u4122 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:283px;
  width:0px;
  height:0px;
}
#u4122_seg0 {
  border-width:0px;
  position:absolute;
  left:-249px;
  top:-4px;
  width:249px;
  height:8px;
}
#u4122_seg1 {
  border-width:0px;
  position:absolute;
  left:-249px;
  top:-9px;
  width:8px;
  height:13px;
}
#u4122_text {
  border-width:0px;
  position:absolute;
  left:-177px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:70px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4123 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:330px;
  width:148px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:144px;
  word-wrap:break-word;
}
#u4124 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:365px;
  width:0px;
  height:0px;
}
#u4124_seg0 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:-4px;
  width:213px;
  height:8px;
}
#u4124_seg1 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:-3px;
  width:8px;
  height:7px;
}
#u4124_text {
  border-width:0px;
  position:absolute;
  left:-156px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u4125 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:402px;
  width:46px;
  height:50px;
}
#u4125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:159px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4126 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:440px;
  width:228px;
  height:159px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:224px;
  word-wrap:break-word;
}
#u4127 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:520px;
  width:0px;
  height:0px;
}
#u4127_seg0 {
  border-width:0px;
  position:absolute;
  left:-143px;
  top:-4px;
  width:143px;
  height:8px;
}
#u4127_seg1 {
  border-width:0px;
  position:absolute;
  left:-143px;
  top:-118px;
  width:8px;
  height:122px;
}
#u4127_seg2 {
  border-width:0px;
  position:absolute;
  left:-344px;
  top:-118px;
  width:209px;
  height:8px;
}
#u4127_text {
  border-width:0px;
  position:absolute;
  left:-189px;
  top:-98px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:82px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4128 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:624px;
  width:188px;
  height:82px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:184px;
  word-wrap:break-word;
}
#u4129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u4129 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:640px;
  width:46px;
  height:50px;
}
#u4129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u4130 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:640px;
  width:46px;
  height:50px;
}
#u4130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u4131 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:640px;
  width:46px;
  height:50px;
}
#u4131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4132 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:665px;
  width:0px;
  height:0px;
}
#u4132_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u4132_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4133 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:665px;
  width:0px;
  height:0px;
}
#u4133_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u4133_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4134 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:665px;
  width:0px;
  height:0px;
}
#u4134_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:187px;
  height:8px;
}
#u4134_text {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(134, 134, 134, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4135 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:542px;
  width:256px;
  height:96px;
}
#u4135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4136_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:259px;
  height:5px;
}
#u4136 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:590px;
  width:256px;
  height:2px;
}
#u4136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u4137 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:558px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u4137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:48px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u4138 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:590px;
  width:256px;
  height:48px;
  font-size:28px;
}
#u4138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:252px;
  word-wrap:break-word;
}
#u4139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u4139 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:367px;
  width:345px;
  height:91px;
  font-size:28px;
}
#u4139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
